@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Raleway:wght@800&family=Source+Sans+Pro&display=swap');

/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.recept {
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    min-height: 90px;
    flex-direction: column-reverse;
    padding: 0.5rem;
    justify-content: space-between;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 800;
}

.recept-popis {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 400;
}

.hlavni {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/burger.jpg");
    min-height: 200px;
    font-family: 'Raleway';
    font-size: 1.75rem;
    font-weight: 800;
}

.druhy {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sushi.jpg");
    
}

.treti {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/rajcata.jpg");
}

.ctvrty {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/kure.jpg");
}

.paty {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/grilovani.jpg");
}

@media (min-width: 480px) {
    .obsah {
        display: flex;
        flex-wrap: wrap;
    }
    .recept {
        min-height: 150px;
        font-size: 1.5rem;
        padding: 1.25rem;
        flex-basis: 50%;
    }

    .kategorie {
        display: flex;
        flex-wrap: wrap;
    }

    .hlavni {
        min-height: 250px;
        font-size: 2rem;
        flex-basis: 100%;
    }   

    .druhy {
        order: 1;
    }

    .treti {
        order: 3;
    }

    .ctvrty {
        order: 2;
    }

    .paty {
        order: 4;
    }


}

@media (min-width: 860px) {
    .kategorie {
        flex-basis: 66.6%;
    }

    .recept {
        min-height: 200px;
        font-size: 1.75rem;
    }

    .hlavni {
        min-height: 400px;
        font-size: 3rem;
        flex-basis: 33.3%;
    }

}

